html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#posXSlider .slider-selection,
#posYSlider .slider-selection,
#posZSlider .slider-selection {
    background: #BABABA;
}

.row {
    margin-top: -5px;
    margin-bottom: -5px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    border-radius: 4px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #f8f8f8;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #f8f8f8;
    cursor: pointer;
}

.sliderR {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    border-radius: 4px;  
    background: #b71c1c;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.sliderR::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #f44336;
    cursor: pointer;
}

.sliderR::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #f44336;
    cursor: pointer;
}

.sliderG {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    border-radius: 4px;  
    background: #004D40;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.sliderG::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #00796B;
    cursor: pointer;
}

.sliderG::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #00796B;
    cursor: pointer;
}

.sliderB {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    border-radius: 4px;  
    background: #01579B;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.sliderB::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #1976D2;
    cursor: pointer;
}

.sliderB::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #1976D2;
    cursor: pointer;
}